@import "src/assets/mixins";

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2500px;
    background: linear-gradient(180deg, #619CF3 -7.33%, #95CBFF 8%, #9AD7F9 19.36%, #E2F5FF 91.99%);
}

.clouds_group_background {
    width: 100%;
    height: 100%;
    background-image: url(./../../../public/assets/img/cloud_white.png),
        url(./../../../public/assets/img/cloud_back.png);
    background-position: 50% 0%, 50% 3.5%;
    background-repeat: no-repeat;
    background-size: 105%, 82%;
    z-index: 2;

    @media screen and (max-width: 1026px) {
        background-position: 50% 1%, 50% 3%;
    }

    @media screen and (max-width: 580px) {
        display: none;
    }

}

.clouds_group_background_mobile {
    width: 100%;
    height: 100%;
    background-image: url(./../../../public/assets/img/cloud_top_white_mobile.png),
        url(./../../../public/assets/img/cloud_top_blue_mobile.png);
    background-position: 96% 2.5%, 50% 1.5%;
    background-repeat: no-repeat;
    background-size: 92%, 100%;
    z-index: 2;

    @media screen and (min-width: 581px) {
        display: none;
    }
}

.logo_group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../../public/assets/img/bird.svg),
        url(./../../../public/assets/img/birds_cloud.svg),
        url(./../../../public/assets/img/logo.svg);
    background-position: 50% 17.6%, 50% 16.5%, 50% 2.6%;
    background-repeat: no-repeat;
    background-size: 17%, 33%, 70%;
    z-index: 3;

    @media screen and (min-width: 2660px) {
        background-position: 50% 25%, 50% 23.5%, 50% 2.6%;
    }

    @media screen and (max-width: 1445px) {
        background-position: 50% 14.6%, 50% 13.5%, 50% 2.6%
    }

    @media screen and (max-width: 1026px) {
        background-position: 50% 10.6%, 50% 10%, 50% 2.6%;
    }

    @media screen and (max-width: 770px) {
        background-position: 50% 8.6%, 50% 8%, 50% 2.6%;
    }

    @media screen and (max-width: 566px) {
        background-size: 25%, 48%, 78%;
        background-position: 50% 6.2%, 50% 6%, 50% 2.5%;
    }

    @media screen and (max-width: 426px) {
        background-position: 50% 5.6%, 50% 5.7%, 50% 2.5%;
    }
}