@import "src/assets/mixins";


// надпись волнообразная
.quote {
    width: 100%;
    padding-top: 14px;
    max-width: 100vw;
    margin-top: 70px;
    padding-right: 124px;
    padding-left: 124px;
    position: relative;
    margin-top: 100px;
    z-index: 9999;

    @include sm {
        display: none;
    }

    @include md {
        margin-top: 0;
    }

    @media screen and (min-width: 2660px) {
        margin-top: 160px;
    }

    @media screen and (max-width: 1445px) {
        margin-top: 45px;
    }

    @media screen and (max-width: 1026px) {
        margin-top: 20px;
    }
}