/* breakpoints */
$screen-xxxxs: 320px;
$screen-xxxs: 375px;
$screen-xxs: 425px;
$screen-xs: 575px;
$screen-sm: 768px;
$screen-smd: 820px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;

/* fonts */
$font1: LADAPragmatica, Arial, sans-serif;